.formulario {
    display: flex;
    margin: 50px 0;
    justify-content: center;
}

.formulario form {
    max-width: 80%;
    padding: 36px 64px;
    border-radius: 20px;
    background-color: #F2F2F2;
}